.upload-image{

  width:64px;

  min-width:64px;

  display:flex;

  justify-content:center;

  align-items:center;

  cursor:pointer;

  font-size:24px;

  background:#F5EFE4;

  border-left:
  1px solid #DCCDB8;

}

.upload-image:hover{

  background:#E8D7BE;

}

.upload-image input{

  display:none;

}